
// term self
.self-bg {
	display: block;
	position: absolute;
	bottom: 36px;
	right: 30px;
	z-index: -1;
	width: 160px;
	height: 208px;
	background: url('https://images.kakao.golf/web/images/locker/selfcheckin/bg-self.png') 0 0 no-repeat;
	background-size: 100% auto;
}
.sub-ttl {
	display: block;
	margin-bottom: 10px;
	font-size: 15px;
}
.self-btn-area {
	width: 100%;
	padding: 0 18px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.btn-self {
	display: block;
	width: 100%;
	height: 58px;
	line-height: 58px;
	margin-top: 8px;
	padding-left: 49px;
	border: 1px solid #E6EBF0;
	border-radius: 5px;
	font-size: 16px;
	&:nth-child(1) {
		margin-top: 0;
	}
}
.btn-card {
	background: url('https://images.kakao.golf/web/images/locker/selfcheckin/ico-card.png') 18px 50% no-repeat #f8f8f8;
}
.btn-phone {
	background: url('https://images.kakao.golf/web/images/locker/selfcheckin/ico-phone.png') 18px 50% no-repeat #f8f8f8;
}
