html {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	height: 100%;
	width: 100%;
	min-height: 100%;
	color: #000;
	font-family: "Kakao-Rg";
}
div {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
header {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
footer {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
section {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
nav {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
aside {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1 {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h2 {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h3 {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h4 {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h5 {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h6 {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
p {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
span {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: inherit;
	text-decoration: none;
}
blockquote {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
dl {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
dt {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
dd {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ol {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}
ul {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}
li {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}
form {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
fieldset {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
}
legend {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
table {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-collapse: collapse;
	border-spacing: 0;
}
tr {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
th {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
td {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
textarea {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	resize: none;
}
input {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	&::-ms-clear {
		display: none;
	}
}
select {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
button {
	margin: 0;
	padding: 0;
	line-height: 1;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}
em {
	font-style: normal;
}
address {
	font-style: normal;
}
iframe {
	border: 0;
}
img {
	border: 0;
	width: 100%;
}
body.terms-body {
	display: block;
	height: 100%;
	min-height: 100%;
}
.ir__txt-hide {
	overflow: hidden;
	visibility: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	font-size: 0;
	line-height: 0;
}
.ir__txt-caption {
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
}
input[type=number] {
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	-moz-appearance: textfield;
}
