.top-area {
	position: relative;
	padding: 17px;
	text-align: center;
	font-size: 18px;
	font-family: "Kakao-Rg";
}
.btn-top-close {
	display: block;
	position: absolute;
	top: 19px;
	right: 18px;
	width: 16px;
	height: 16px;
	background: url('https://images.kakao.golf/web/images/locker/selfcheckin/ico-close.png');
	font-size: 0;
}
.transter-ttl {
	padding: 66px 20px 30px 20px;
	line-height: 1.6;
	font-size: 22px;
	font-family: "Kakao-Lt";
	strong {
		font-family: "Kakao-Bd";
	}
}
.transter-area {
	padding: 0 20px;
}
.input-txt {
	display: block;
	width: 100%;
	height: 46px;
	margin-top: 12px;
	padding: 12px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	color: #222;
	font-family: "Kakao-Rg";
	font-size: 14px;
	letter-spacing: -.5px;
	line-height: 46px;
	background: #fff;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	&:first-child {
		margin-top: 0;
	}
	&::-webkit-input-placeholder {
		color: #b2b2b2;
		font-size: 14px;
	}
	&::-moz-placeholder {
		color: #b2b2b2;
		font-size: 14px;
	}
	&:-ms-input-placeholder {
		color: #b2b2b2;
		font-size: 14px;
	}
	&:-moz-placeholder {
		color: #b2b2b2;
		font-size: 14px;
	}
}
.guide-txt {
	margin-top: 12px;
	font-size: 12px;
	color: #535D67;
}
.btn-ok {
	display: block;
	position: absolute;
	bottom: 12px;
	left: 18px;
	right: 18px;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #FFE500;
	text-align: center;
	font-size: 16px;
	font-family: "Kakao-Bd";
}
